<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="update-insurance-plan.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <app-admin-navbar></app-admin-navbar><br>
  <div class="login-container">
    <h1>Update Insurance Plan</h1>
    <!-- " -->
    <form [formGroup]="insurnacePlanForm" (ngSubmit)="updateinsurnacePlan(insurnacePlanForm.value)" >
      <!-- <p>Kindly enter the credentials</p> -->
      <div class="form-group">
    
        <!-- <span value="{{insuranceTypeId}}" formControlName="id"></span> -->
        <input type="hidden"   formControlName="id" [(ngModel)]="planId">
        <!-- <h1>{{insuranceTypeId}}</h1> -->
        <label for="username">minPolicyTerm</label>
        <input type="text" id="username" name="username" 
         formControlName="minPolicyTerm" [(ngModel)]="planData.minPolicyTerm">
         <label for="username">maxPolicyTerm</label>
         <input type="text" id="username" name="username"
         formControlName="maxPolicyTerm" [(ngModel)]="planData. maxPolicyTerm">
         <label for="username">MinAge</label>
         <input type="text" id="username" name="username"
         formControlName="minAge" [(ngModel)]="planData.minAge">
         <label for="username">MaxAge</label>
         <input type="text" id="username" name="username"
         formControlName="maxAge" [(ngModel)]="planData.maxAge">
         <label for="username">minInvestmentAmount</label>
         <input type="text" formControlName="minInvestmentAmount" [(ngModel)]="planData.minInvestmentAmount">
         <label for="username">maxInvestmentAmount</label>
         <input type="text" formControlName="maxInvestmentAmount" [(ngModel)]="planData.maxInvestmentAmount">
         <label for="username">profitRatioPercentage</label>
         <input type="text" formControlName="profitRatioPercentage" [(ngModel)]="planData.profitRatioPercentage">
         <input type="hidden" formControlName="insuranceSchemeId" [(ngModel)]="planData. insuranceSchemeId">
         

      </div>
      
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
