<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="update-insurance-plan.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <app-admin-navbar></app-admin-navbar><br>
  <div class="login-container">
    <h1>Add Insurance Plan</h1>
    <!-- " -->
    <form [formGroup]="insurancePlanForm" (ngSubmit)="addInsuranceScheme(insurancePlanForm.value)" >
      <!-- <p>Kindly enter the credentials</p> -->
      <label >insurance Scheme</label>
      <div class="form-group">
      <select  id="account-type" name="account-type" formControlName="accountType">
        
        <option [ngValue]="null" disabled>Choose Insurance Scheme</option>
        <option *ngFor="let insuranceScheme of insuranceSchemeData" value="{{insuranceScheme.id}}">{{insuranceScheme.insuranceSchemeName}}
        </option>
        
      </select>
    </div>
      <div class="form-group">
        <input type="number"  placeholder="Enter minimum policy term" formControlName="minPolicyTerm">
      </div>
      <div class="form-group">
        <input type="number"  placeholder="Enter maximum policy term" formControlName="maxPolicyTerm">
      </div>
      <div class="form-group">
        <!-- <label for="username">Username</label> -->
        <input type="number"  placeholder="Enter minimum age" formControlName="minAge">
      </div>
      <div class="form-group">
            <input type="number"  placeholder="Enter maximum age" formControlName="maxAge">
        </div>
        <div class="form-group">
            <input type="number"  placeholder="Enter minimum investment amount" formControlName="minInvestmentAmount">
        </div>
        <div class="form-group">
            <input type="number" placeholder="Enter maximum investment amount" formControlName="maxInvestmentAmount">
        </div>
        <div class="form-group">
          <input type="number"  placeholder="Enter profit ratio (in %)" formControlName="profitRatioPercentage">
        </div>
        


      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
