<head>
    <link rel="stylesheet" href="customer-navbar.component.css">
</head>
<body (click)="setRole()">
    <nav class="navbar navbar-expand-lg navbar-light bg-white ">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/">
            <!-- <img src="path/to/your/logo.png" alt="Logo" height="24"> -->
            <h5>AtmanirbharInsurance</h5>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/customer">Dashboard</a> <!--give rounting-->
              </li>
              <li  ngbDropdown class="dropdown nav-item ">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  Customer Profile
                </a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li ><a ngbDropdownItem class="dropdown-item" routerLink="/customerProfile">Profile</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/addDocument">Documents</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/customerChangePassword">Change Password</a></li>

                </ul>
              </li>
              
              <li ngbDropdown class="dropdown nav-item ">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  Insurance Plans
                </a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown" >
                  <li *ngFor="let items of insuranceTypeData"><a ngbDropdownItem class="dropdown-item" (click)="setInsuranceTypeId(items.id)">{{items.insuranceTypeName}}</a></li>
                  <!-- <option value="" routerLink="/">{{items.insuranceTypeName}}</option> -->
                  <!-- <li><a ngbDropdownItem class="dropdown-item" routerLink="/getCustomerInsuranceAccount">Enter Plan Name</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getPolicyPayment">Enter Plan Name</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getPolicyClaim">Enter Plan Name</a></li> -->
                </ul>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" routerLink="/getCustomerInsuranceAccount">Insurnace Account</a> <!--give rounting-->
              </li>
    
              <li ngbDropdown class="dropdown nav-item ">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  Queries
                </a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/addQuery">Enquiry</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getFeedback">View FeedBack</a></li> 
                </ul>
              </li>
    
          
            </ul>
            <ul class="navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" (click)="deleteToken()" routerLink="/" >Logout</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
</body>
