<!-- <p>open-document works!</p> -->
<div *ngIf="temporaryData.getRole()=='Admin'">
  <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="temporaryData.getRole()=='Agent'">
  <app-agent-navbar></app-agent-navbar>
</div>
<div *ngIf="temporaryData.getRole()=='Customer'">
  <app-customer-navbar></app-customer-navbar>
</div>
<div *ngIf="temporaryData.getRole()=='Employee'">
  <app-employee-navbar></app-employee-navbar>
</div>
<div *ngIf="documentData; else loading">
    <!-- <h2>{{ document.documentName }}</h2>
    <p>Document Type: {{ document.documentType }}</p>
    <p>Customer ID: {{ document.customerId }}</p> -->
 
    <div *ngIf="documentUrl; else noDocument">
      <iframe [src]="documentUrl" width="100%" height="500px"></iframe>
    </div>
    <ng-template #noDocument>
      <div>No document available.</div>
    </ng-template>
  </div>
  <ng-template #loading>
    <div>Loading document...</div>
  </ng-template>