<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="add-employee.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <header>
        <app-admin-navbar></app-admin-navbar>
    </header>
    <div class="login-container">
      <h1>Employee Registration</h1>
      <!-- -->
      <form [formGroup]="addEmployee" (ngSubmit)="addNewEmployee(addEmployee.value)"  >
        <!-- <p>Kindly enter the credentials</p> -->
        <div class="form-group">
          <label for="username">First Name <span>*</span></label>
          <input type="text" id="firstName" name="username" placeholder="" formControlName="firstName" required>
          <div *ngIf="addEmployee.get('firstName')?.hasError('required') && addEmployee.get('firstName')?.touched">
            FirstName is mandatory.
        </div>
        <div *ngIf="addEmployee.get('firstName')?.hasError('minlength') && addEmployee.get('firstName')?.touched">
            FirstName should be at least 2 characters.
        </div>
        </div>
        <div class="form-group">
          <label for="username">Last Name <span>*</span></label>
          <input type="text" id="lastName" name="username" placeholder="" formControlName="lastName" required>
          <div *ngIf="addEmployee.get('lastName')?.hasError('required') && addEmployee.get('lastName')?.touched">
            lastName is mandatory.
        </div>
        <div *ngIf="addEmployee.get('lastName')?.hasError('minlength') && addEmployee.get('lastName')?.touched">
          lastName should be at least 2 characters.
        </div>
        </div>
        <div class="form-group">
          <!-- <label for="username">Username</label> -->
          <label for="username">User Name <span>*</span></label>
          <input type="text" id="userName" name="username" placeholder="" formControlName="userName" required>
          <div *ngIf="addEmployee.get('userName')?.hasError('required') && addEmployee.get('userName')?.touched">
            userName is mandatory.
          </div>
          <div *ngIf="addEmployee.get('userName')?.hasError('minlength') && addEmployee.get('userName')?.touched">
            userName should be at least 2 characters.
          </div>
          <div align="left"  *ngIf="isUnique === false">Username is not unique.</div>
        </div>
        <div class="form-group">
          <label for="username">Password <span>*</span></label>
              <input type="password" id="password" name="password" placeholder="" formControlName="password" required>
              <div *ngIf="addEmployee.get('password')?.hasError('required') && addEmployee.get('password')?.touched">
                Password is mandatory.
            </div>
            <div *ngIf="addEmployee.get('password')?.hasError('minlength') && addEmployee.get('password')?.touched">
                Password should be at least 6 characters.
            </div>
            </div>
          <!-- <div class="form-group">
              <input type="password" id="password" name="password" placeholder="Confirm Password" formControlName="password">
          </div> -->
           
  
  
        <button type="submit" [disabled]="addEmployee">Submit</button>
      </form>
    </div>
</body>
</html>
