<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="add-employee.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <header>
        <app-admin-navbar></app-admin-navbar>
    </header>
  <div class="login-container">
    <h1>Employee Registration</h1>
    <!-- -->
    <form [formGroup]="addEmployee" (ngSubmit)="addNewEmployee(addEmployee.value)"  >
      <!-- <p>Kindly enter the credentials</p> -->
      <div class="form-group">
        <input type="text" id="firstName" name="username" placeholder="Enter your FirstName" formControlName="firstName">
      </div>
      <div class="form-group">
        <input type="text" id="lastName" name="username" placeholder="Enter your LastName" formControlName="lastName">
      </div>
      <div class="form-group">
        <!-- <label for="username">Username</label> -->
        <input type="text" id="userName" name="username" placeholder="Enter your username" formControlName="userName">
      </div>
      <div class="form-group">
            <input type="password" id="password" name="password" placeholder="Enter your password" formControlName="password">
        </div>
        <!-- <div class="form-group">
            <input type="password" id="password" name="password" placeholder="Confirm Password" formControlName="password">
        </div> -->
         


      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
