
<app-admin-navbar></app-admin-navbar>
<h4 align="center">Insurance Scheme Details : </h4> 
<div>
	<!-- <div style="float: right;">
		<button  class="btn btn-lg btn-outline-primary" (click)="addUrl()">Add Student</button>&nbsp;
		<button  class="btn btn-lg btn-outline-primary" (click)="updateUrl()" >Update Student</button>&nbsp;
		<button  class="btn btn-lg btn-outline-primary" (click)="deleteUrl()" >Delete Student</button>
		
	</div> -->
		
<table class="table table-striped">
	<thead>
		<tr>
            <!-- <th scope="col">Insurance Type Name</th> -->
			<th scope="col">Insurance Scheme Name</th>
            <th scope="col">New Registrastion Commision</th>
            <th scope="col">Installment Payment Commision</th>
            <th scope="col">Details</th>
      <!-- <th scope="col">Gender</th> -->
		</tr>
	</thead>
	<tbody>
		
		<tr *ngFor="let insuranceScheme of insuranceSchemeData;index as i"  >
			<!-- <span>{{findInsuranceTypeName(insuranceScheme.insuranceTypeId)}}</span> -->
			<!-- <ng-template *ngIf="true" onmouseover="findInsuranceTypeName(insuranceScheme.insuranceTypeId)"></ng-template> -->
			<!-- <td >{{insuranceTypeData[0].insuranceTypeName}}</td> -->
			<td>
				{{ insuranceScheme.insuranceSchemeName}}
			</td>
            <td>
				{{ insuranceScheme.newRegistrastionCommision}}
			</td>
            <td>
				{{ insuranceScheme.installmentPaymentCommision}}
			</td>
            <td>
				{{ insuranceScheme.details}}
			</td>
			<!-- <td>{{ student.isMale }}</td> -->
		</tr>
	</tbody>
</table>
</div>
