
<app-admin-navbar></app-admin-navbar>
<h2 align="center" style="margin: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Insurance Scheme Details : 
	<button style="float: right;  " class="btn btn-primary" routerLink="/addInsuranceScheme">Add InsuranceScheme</button>

</h2> 
<div>
	<!-- <div style="float: right;">
		<button  class="btn btn-lg btn-outline-primary" (click)="addUrl()">Add Student</button>&nbsp;
		<button  class="btn btn-lg btn-outline-primary" (click)="updateUrl()" >Update Student</button>&nbsp;
		<button  class="btn btn-lg btn-outline-primary" (click)="deleteUrl()" >Delete Student</button>
		
	</div> -->
		
<table class="table table-striped">
	<thead>
		<tr>
            <th scope="col">Insurance Type Name</th>
			<th scope="col">Insurance Scheme Name</th>
            <th scope="col">New Registrastion Commision</th>
            <th scope="col">Installment Payment Commision</th>
            <th scope="col">Details</th>
			<th scope="col">Action</th>
      <!-- <th scope="col">Gender</th> -->
		</tr>
	</thead>
	<tbody>
		
		<tr *ngFor="let insuranceScheme of insuranceSchemeData
		| paginate:{
			id:'listing_pagination',
      itemsPerPage:pageSize,
      currentPage:page,
      totalItems:totalRecords
    };index as i"   >
			<!-- {{findInsuranceTypeName(insuranceSchemeData.insuranceTypeId)}} -->
			<!-- <div *ngFor="let insuranceType of insuranceTypeData"></div> -->
			<!-- <span>{{findInsuranceTypeName(insuranceScheme.insuranceTypeId)}}</span> -->
			<!-- <ng-template *ngIf="true" onmouseover="findInsuranceTypeName(insuranceScheme.insuranceTypeId)"></ng-template> -->
			
			<!-- <div *ngIf="true">{{findInsuranceTypeName(insuranceScheme.insuranceTypeId)}}</div> -->
			<!-- <td *ngIf="insuranceTypeData[i].id==insuranceScheme.insuranceTypeId"> -->
			<td>
				{{getInsuranceTypeName(insuranceScheme.insuranceTypeId)}}
				<!-- {{insuranceTypeName(insuranceSchemeData.insuranceTypeId)}} -->
			</td>
			<td>
				{{ insuranceScheme.insuranceSchemeName}}
			</td>
            <td>
				{{ insuranceScheme.newRegistrastionCommision}}
			</td>
			
            <td>
				{{ insuranceScheme.installmentPaymentCommision}}
			</td>
            <td>
				{{ insuranceScheme.details}}
			</td>
			<td>
				<button class="btn btn-primary" (click)="setId(insuranceScheme.id)">Edit</button>&nbsp;
				<button class="btn btn-primary" (click)="deleteData(insuranceScheme.id)">Delete</button>
			</td>
			{{temporaryData.setInsuranceSchemeCount(i+1)}}
			<!-- <td>{{ student.isMale }}</td> -->
		</tr>
	</tbody>
</table>
<div align="center">
	<pagination-controls
	id="listing_pagination"
	[maxSize]="5"
	[directionLinks]="true"
	
	(pageChange)="page =$event"
	>
	</pagination-controls>
	</div>
	<select class="form-select" style="width: auto" (change)="changePageSize($event)">
		<option [value]="5">5 items per page</option>
		<option [value]="10">10 items per page</option>
		<option [value]="15">15 items per page</option>
	</select>
</div>

