<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="add-insurance-plan.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <app-admin-navbar></app-admin-navbar><br>
  <div class="login-container">
    <h1>Add Insurance Plan</h1>
    <!-- " -->
    <form [formGroup]="insurancePlanForm" (ngSubmit)="addInsuranceScheme(insurancePlanForm.value)" >
      <!-- <p>Kindly enter the credentials</p> -->
      <label >Insurance Scheme <span>*</span></label>
      <div class="form-group">
      <select  id="account-type" name="account-type" formControlName="accountType">
        
        <!-- <option  disabled selected>Choose Insurance Scheme</option> -->
        <option value="" disabled selected>Choose your profile</option>
        <option *ngFor="let insuranceScheme of insuranceSchemeData" value="{{insuranceScheme.id}}" >{{insuranceScheme.insuranceSchemeName}}
        </option> 
        
      </select>
    </div>
    <div class="form-group">
      <label for="username">Min Policy Term <span>*</span></label>
      <input type="number"  placeholder="" formControlName="minPolicyTerm" required>
      <div *ngIf="insurancePlanForm.get('minPolicyTerm')?.hasError('required') && insurancePlanForm.get('minPolicyTerm')?.touched">
        minPolicyTerm is mandatory.
    </div>
    </div>
    <div class="form-group">
      <label for="username">Max Policy Term <span>*</span></label>
      <input type="number"  placeholder="" formControlName="maxPolicyTerm" required>
      <div *ngIf="insurancePlanForm.get('maxPolicyTerm')?.hasError('required') && insurancePlanForm.get('maxPolicyTerm')?.touched">
        maxPolicyTerm is mandatory.
    </div>
    </div>
    <div class="form-group">
      <!-- <label for="username">Username</label> -->
      <label for="username">Min Age <span>*</span></label>
      <input type="number"  placeholder="" formControlName="minAge" required>
      <div *ngIf="insurancePlanForm.get('minAge')?.hasError('required') && insurancePlanForm.get('minAge')?.touched">
        minAge is mandatory.
    </div>
    </div>
    <div class="form-group">
      <label for="username">Max Age <span>*</span></label>
          <input type="number"  placeholder="" formControlName="maxAge" required>
          <div *ngIf="insurancePlanForm.get('maxAge')?.hasError('required') && insurancePlanForm.get('maxAge')?.touched">
            maxAge is mandatory.
        </div>
        </div>
      <div class="form-group">
        <label for="username">Min Investment Amount <span>*</span></label>
          <input type="number"  placeholder="" formControlName="minInvestmentAmount" required>
          <div *ngIf="insurancePlanForm.get('minInvestmentAmount')?.hasError('required') && insurancePlanForm.get('minInvestmentAmount')?.touched">
            minInvestmentAmount is mandatory.
        </div>
        </div>
      <div class="form-group">
        <label for="username">Max Investment Amount <span>*</span></label>
          <input type="number" placeholder="" formControlName="maxInvestmentAmount" required>
          <div *ngIf="insurancePlanForm.get('maxInvestmentAmount')?.hasError('required') && insurancePlanForm.get('maxInvestmentAmount')?.touched">
            maxInvestmentAmount is mandatory.
        </div>
        </div>
      <div class="form-group">
        <label for="username">Profit Ratio Percentage <span>*</span></label>
        <input type="number"  placeholder="" formControlName="profitRatioPercentage" required>
        <div *ngIf="insurancePlanForm.get('profitRatioPercentage')?.hasError('required') && insurancePlanForm.get('profitRatioPercentage')?.touched">
          profitRatioPercentage is mandatory.
      </div>
      </div>
        


      <button type="submit" [disabled]="insurancePlanForm">Submit</button>
    </form>
  </div>
</body>
</html>
