<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="add-insurance-type.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <app-admin-navbar></app-admin-navbar><br>
  <div class="login-container">
    <h1>Add Insurance Type</h1>
    <!--  -->
    <form [formGroup]="insuranceTypeForm" (ngSubmit)="addInsuranceType(insuranceTypeForm.value)" >
      <!-- <p>Kindly enter the credentials</p> -->
      <div class="form-group">
        <label for="username">Insurance Type Name</label>
        <input type="text" id="insuranceTypeName" name="insuranceTypeName" placeholder="Enter insurance type name" formControlName="insuranceTypeName" required>
        <div *ngIf="insuranceTypeForm.get('insuranceTypeName')?.hasError('required') && insuranceTypeForm.get('insuranceTypeName')?.touched">
          insuranceTypeName is mandatory.
      </div>
      </div>
      
      <button type="submit" >Submit</button>
    </form>
  </div>
</body>
</html>
