
<app-admin-navbar></app-admin-navbar>
<h2 align="center" style="margin: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Insurance Type Details : 
	<button style="float: right;  " class="btn btn-primary" routerLink="/addInsuranceType">Add insuranceType</button>
</h2> 
<div>
	<!-- <div style="float: right;">
		<button  class="btn btn-lg btn-outline-primary" (click)="addUrl()">Add Student</button>&nbsp;
		<button  class="btn btn-lg btn-outline-primary" (click)="updateUrl()" >Update Student</button>&nbsp;
		<button  class="btn btn-lg btn-outline-primary" (click)="deleteUrl()" >Delete Student</button>
		
	</div> -->
		
<table #table class="table table-striped">
	<thead>
		<tr>
            <th scope="col">Index</th>
			<th scope="col">Insurance Type Name</th>
			<th scope="col">Action</th>
      <!-- <th scope="col">Gender</th> -->
		</tr>
	</thead>
	<tbody >
		<tr *ngFor="let insuranceType of insuranceTypeData
		| paginate:{
			id:'listing_pagination',
      itemsPerPage:pageSize,
      currentPage:page,
      totalItems:totalRecords
    };index as i" >
			
			<td>{{insuranceType.id}}</td>
			<td>
				{{ insuranceType.insuranceTypeName}}
			</td>
			<td>
				<button class="btn btn-primary" (click)="setInsurancePlanId(insuranceType.id)">Edit</button>&nbsp;
				<button class="btn btn-primary" (click)="deleteInsuranceType(insuranceType.id)">Delete</button>
			</td>
		
			<!-- <td>{{ student.isMale }}</td> -->
			{{temporaryData.setInsuranceTypeCount(i+1)}}
		</tr>
	</tbody>
</table>
<div align="center">
	<pagination-controls
	id="listing_pagination"
	[maxSize]="5"
	[directionLinks]="true"
	
	(pageChange)="page =$event"
	>
	</pagination-controls>
	</div>
	<select class="form-select" style="width: auto" (change)="changePageSize($event)">
		<option [value]="5">5 items per page</option>
		<option [value]="10">10 items per page</option>
		<option [value]="15">15 items per page</option>
	</select>
<!-- <button align="left" class="btn btn-primary" #table>Previous</button>
<button align="right" class="btn btn-primary" >Next</button> -->
</div>
