body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: Georgia, sans-serif; */
    background: linear-gradient(120deg, #3498db, #8e44ad, #3498db, #8e44ad);
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
    
    height: 100vh;
    
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }