
<app-admin-navbar></app-admin-navbar>
<h4 align="center">Insurance Type Details : </h4> 
<div>
	<!-- <div style="float: right;">
		<button  class="btn btn-lg btn-outline-primary" (click)="addUrl()">Add Student</button>&nbsp;
		<button  class="btn btn-lg btn-outline-primary" (click)="updateUrl()" >Update Student</button>&nbsp;
		<button  class="btn btn-lg btn-outline-primary" (click)="deleteUrl()" >Delete Student</button>
		
	</div> -->
		
<table class="table table-striped">
	<thead>
		<tr>
            <th scope="col">Index</th>
			<th scope="col">Insurance Type Name</th>
			<th scope="col">Action</th>
      <!-- <th scope="col">Gender</th> -->
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let insuranceType of insuranceTypeData;index as i">
			<td>{{insuranceType.id}}</td>
			<td>
				{{ insuranceType.insuranceTypeName}}
			</td>
			<td>
				<button class="btn btn-primary" (click)="setInsurancePlanId(insuranceType.id)">Edit</button>&nbsp;
				<button class="btn btn-primary" (click)="deleteInsuranceType(insuranceType.id)">Delete</button>
			</td>
			<!-- <td>{{ student.isMale }}</td> -->
			{{temporaryData.setInsuranceTypeCount(i+1)}}
		</tr>
	</tbody>
</table>
</div>
