<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="add-insurance-scheme.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <app-admin-navbar></app-admin-navbar><br>
  <div class="login-container">
    <h1>Add Insurance Scheme</h1>
    <!--  -->
    <form [formGroup]="insuranceSchemeForm" (ngSubmit)="addInsuranceScheme(insuranceSchemeForm.value)" >
      <!-- <p>Kindly enter the credentials</p> -->
      <label >insurance Type <span>*</span></label>
      <div class="form-group">
      <select  id="account-type" name="account-type" aria-placeholder="Insurance Type" formControlName="insuranceTypeId">
        
        <option value="" disabled selected>Choose Insurance Type </option>
        <!-- <option>null</option> -->
        <option *ngFor="let insuranceType of insuranceTypeData" value="{{insuranceType.id}}">{{insuranceType.insuranceTypeName}}
         </option>
        
      </select>
    </div>
    <div class="form-group">
      <label for="username">Insurance Scheme Name <span>*</span></label>
      <input type="text" placeholder="" formControlName="insuranceSchemeName" [(ngModel)]="schemeName" (input)="checkTypeNameUniqueness()">
      <div *ngIf="insuranceSchemeForm.get('insuranceSchemeName')?.hasError('required') && insuranceSchemeForm.get('insuranceSchemeName')?.touched">
        insuranceSchemeName is mandatory.
    </div>
    <div align="left" *ngIf="isUnique === false">Name is not unique.</div>
    </div>
    <div class="form-group">
      <label for="username">New Registrastion Commision <span>*</span></label>
      <input type="number"  placeholder="" formControlName="newRegistrastionCommision" required>
      <div *ngIf="insuranceSchemeForm.get('newRegistrastionCommision')?.hasError('required') && insuranceSchemeForm.get('newRegistrastionCommision')?.touched">
        newRegistrastionCommision is mandatory.
    </div>
    </div>
    <div class="form-group">
      <label for="username">Installment Payment Commision <span>*</span></label>
      <input type="number"placeholder="" formControlName="installmentPaymentCommision" required>
      <div *ngIf="insuranceSchemeForm.get('installmentPaymentCommision')?.hasError('required') && insuranceSchemeForm.get('installmentPaymentCommision')?.touched">
        installmentPaymentCommision is mandatory.
    </div>
    </div>
    <!--Image section is currently not working-->
    <!-- <div class="form-group"> 
          <input type="image" id="password" name="password" placeholder="choose file" formControlName="password">
      </div> -->
      <div class="form-group">
        <label for="username">Details <span>*</span></label>
          <textarea style="width: 100%; height: 100%;" type="text" placeholder="" formControlName="details" required></textarea>
          <div *ngIf="insuranceSchemeForm.get('details')?.hasError('required') && insuranceSchemeForm.get('details')?.touched">
            details is mandatory.
        </div>
        </div>
        
      <button type="submit" >Submit</button>
    </form>
  </div>
</body>
</html>
