<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="common-login.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <!-- <app-admin-navbar></app-admin-navbar> -->
  <div class="login-container">
    <h1>Login</h1>
    <form  [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)" >
      <div class="form-group">
        <label for="account-type">Account Type <span>*</span></label>
        <select  id="account-type" name="account-type" formControlName="accountType">
          <option value="" disabled selected>Choose your profile</option>
          <option *ngFor="let prf of allAccountType" [ngValue]="prf">
            {{ prf }}
           </option>
          
        </select>
      </div>
      <div class="form-group">
        <label for="userName">Username <span>*</span></label>
        <input type="text" id="userName" name="userName" placeholder="Enter your username" formControlName="userName" required>
        <div *ngIf="loginForm.get('userName')?.hasError('required') && loginForm.get('userName')?.touched">
          Username is mandatory.
      </div>
      
      </div>
      <div class="form-group">
        <label for="password">Password <span>*</span></label>
        <input type="password" id="password" name="password" placeholder="Enter your password" formControlName="password" required>
        <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
          Password is mandatory.
      </div>
      
      </div>
      <button type="submit" >Login</button>
    </form>
  </div>
</body>
</html>
