<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="customer-profile.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <header>
        <app-customer-navbar></app-customer-navbar>
    </header>
  <div class="login-container">
    <h1>Customer Profile</h1>
    <!-- <div class="form-group" (change)="selectedId($event)" *ngFor="let agent of agentData  " >
        <input type="text" value="{{agent.firstName}}">
    </div> -->
    <!-- -->
    
    <form [formGroup]="addCustomer" (ngSubmit)="updateCustomer(addCustomer.value) ">
      <!-- <p>Kindly enter the credentials</p> -->
      <div class="form-group">
        <label for=""> First Name <span>*</span></label>
        <input type="hidden" formControlName="id" [(ngModel)]="customerData.id" >
        <input type="text" id="firstName" name="username" formControlName="firstName" [(ngModel)]="customerData.firstName">
      </div>
      <div class="form-group">
        <label for="">Last Name <span>*</span></label>
        <input type="text"  placeholder="Enter your LastName" formControlName="lastName"  [(ngModel)]="customerData.lastName">
      </div>
      <div class="form-group">
        <label for="">Date Of Birth <span>*</span></label>
        <input type="date"  placeholder="Enter your LastName" formControlName="dateOfBirth"  [(ngModel)]="customerData.dateOfBirth">
      </div>
      <div class="form-group">
        <!-- <label for="username">Username</label> -->
        <!-- <label for="">userName </label> -->
        <input type="hidden" id="userName" name="username" placeholder="Enter your username" formControlName="userName"  [(ngModel)]="customerData.userName">
        <input type="hidden" formControlName="password" [(ngModel)]="customerData.password" >

        <label for="">Mobile Number <span>*</span></label>
        <input type="text"  placeholder="Enter your LastName" formControlName="mobileNumber"  [(ngModel)]="customerData.mobileNumber">
        
        <label for="">Email <span>*</span></label>
        <input type="text"  placeholder="Enter your LastName" formControlName="email"  [(ngModel)]="customerData.email">
        
        <label for="">Nominee Name <span>*</span></label>
        <input type="text"  placeholder="Enter your LastName" formControlName="nomineeName"  [(ngModel)]="customerData.nomineeName">
        
        <label for="">Nominee Relation <span>*</span></label>
        <input type="text"  placeholder="Enter your LastName" formControlName="nomineeRelation"  [(ngModel)]="customerData.nomineeRelation">

        <div class="form-group">
          <label>Location <span>*</span></label>
          <select  id="account-type" name="account-type" aria-placeholder="Insurance Type" formControlName="locationId" [(ngModel)]="customerData.locationId">
            
            <option value="" disabled selected  >{{locationIdData.city}},{{locationIdData.state}}</option>
            <!-- <option>null</option> -->            
              <option *ngFor="let location of locationData"  value="{{location.id}}" >{{location.city}},{{location.state}}
              </option>
            
          </select>
        </div>
        <input type="hidden" formControlName="agentId" [(ngModel)]="customerData.agentId" >
        <!-- <input type="hidden" formControlName="commision" [(ngModel)]="agentData.commision" >
        <input type="hidden" formControlName="totalCommision" [(ngModel)]="agentData.totalCommision" > -->
      </div>
      
      <button type="submit">Update</button>
    </form>
  </div>
</body>
</html>