<head>
    <link rel="stylesheet" href="admin-navbar.component.css">
</head>
<body (click)="setRole()">
    <nav class="navbar navbar-expand-lg navbar-light bg-white ">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/">
            <!-- <img src="path/to/your/logo.png" alt="Logo" height="24"> -->
            <h5>AtmanirbharInsurance</h5>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin">Dashboard</a>
              </li>
              <li  ngbDropdown class="dropdown nav-item ">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  Agent
                </a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li ><a ngbDropdownItem class="dropdown-item" routerLink="/addAgent">Add Agent</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getAgent">View Agent</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getCommission">View Commision</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="#">View Commision Withdrawal</a></li>
                </ul>
              </li>
              
              <li ngbDropdown class="dropdown nav-item ">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  Insurance
                </a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/agentCustomer">View Customers</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getCustomerInsuranceAccount">Insurance Account</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getPolicyPayment">View Policy Payment</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getPolicyClaim">View Policy Claim</a></li>
                </ul>
              </li>
    
              <li ngbDropdown class="dropdown nav-item ">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  Queries
                </a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getFeedback">View Feedback</a></li>
                  
                </ul>
              </li>
    
              <li ngbDropdown class="dropdown nav-item ">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  Insurance Type
                </a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a ngbDropdownItem class="dropdown-item" (click)="AddInsuranceType()">Add Insurance Type</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getInsuranceType">View Insurance Type</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/addInsuranceScheme">Add Insurance Scheme</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getInsuranceScheme">View Insurance Scheme</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/addInsurancePlan">Add Insurance Plan</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getInsurancePlan">View Insurance Plan</a></li>
                  
                </ul>
              </li>
    
              <li ngbDropdown class="dropdown nav-item ">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  <!-- Seettings -->
                  Location
                </a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!-- <li><a ngbDropdownItem class="dropdown-item" routerLink="#">Tax Setting</a></li> -->
                  <!-- <li><a ngbDropdownItem class="dropdown-item" routerLink="#">Insurance Setting</a></li> -->
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/addLocation">Add Location</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getLocation">View Location</a></li>
                  
                </ul>
              </li>
    
              <li ngbDropdown class="dropdown nav-item ">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  Account
                </a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/adminProfile">Profile</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/adminChangePassword">Change Password</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/addEmployee">Add Employee</a></li>
                  <li><a ngbDropdownItem class="dropdown-item" routerLink="/getEmployee">View Employee</a></li>
                  
                </ul>
              </li>
    
            </ul>
            <ul class="navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" (click)="deleteToken()" routerLink="/" >Logout</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
</body>

