<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="employee-change-password.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <header>
        <app-employee-navbar></app-employee-navbar>
    </header><br><br>
  <div class="login-container">
    <h1>Employee Change Password</h1>
    <!-- <div class="form-group" (change)="selectedId($event)" *ngFor="let agent of agentData">
        <input type="text" value="{{agent.firstName}}">
    </div> -->
    
    
    <form [formGroup]="changePasswordEmployee" (ngSubmit)="changeEmployeePassword(changePasswordEmployee.value) ">
      <!-- <p>Kindly enter the credentials</p> -->
      <div class="form-group">
        <label for=""> Old Password</label>
        <input type="hidden" formControlName="id" [(ngModel)]="employeeId" >
        <input type="password" id="oldPassword" name="oldPassword" placeholder="Enter your OldPassword" formControlName="oldPassword" >
      </div>
      <div class="form-group">
        <label for="">New Password</label>
        <input type="password" id="newPassword" name="username" placeholder="Enter your NewPassword" formControlName="newPassword" >
      </div>
     
      
      
      <button type="submit">Update</button>
    </form>
  </div>
</body>
</html>
