<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="agent-change-password.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <header>
        <app-admin-navbar></app-admin-navbar>
    </header>
  <div class="login-container">
    <h1>Agent Change Password</h1>
    <!-- <div class="form-group" (change)="selectedId($event)" *ngFor="let agent of agentData  " >
        <input type="text" value="{{agent.firstName}}">
    </div> -->
    <!-- -->
    
    <form [formGroup]="changePasswordAgent" (ngSubmit)="changeAgentPassword(changePasswordAgent.value) ">
      <!-- <p>Kindly enter the credentials</p> -->
      <div class="form-group">
        <label for=""> Old Password</label>
        <input type="hidden" formControlName="id" [(ngModel)]="agentId" >
        <input type="password" id="oldPassword" name="oldPassword" formControlName="oldPassword" >
      </div>
      <div class="form-group">
        <label for="">New Password</label>
        <input type="password" id="lastName" name="username" placeholder="Enter your LastName" formControlName="newPassword" >
      </div>
      
      
      <button type="submit">Update</button>
    </form>
  </div>
</body>
</html>