<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="add-agent.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <header>
        <app-admin-navbar></app-admin-navbar>
    </header>
    <div class="login-container">
      <h1>Agent Registration</h1>
      <!-- -->
      <form [formGroup]="addAgent" (ngSubmit)="addNewAgent(addAgent.value)"  >
        <!-- <p>Kindly enter the credentials</p> -->
        <div class="form-group">
          <input type="text" id="firstName" name="username" placeholder="Enter your FirstName *" formControlName="firstName" required>
          <div *ngIf="addAgent.get('firstName')?.hasError('required') && addAgent.get('firstName')?.touched">
            FirstName is mandatory.
        </div>
        <div *ngIf="addAgent.get('firstName')?.hasError('minlength') && addAgent.get('firstName')?.touched">
            FirstName should be at least 2 characters.
        </div>
        </div>
        <div class="form-group">
          <input type="text" id="lastName" name="username" placeholder="Enter your LastName" formControlName="lastName" required>
          <div *ngIf="addAgent.get('lastName')?.hasError('required') && addAgent.get('lastName')?.touched">
            lastName is mandatory.
        </div>
        <div *ngIf="addAgent.get('lastName')?.hasError('minlength') && addAgent.get('lastName')?.touched">
          lastName should be at least 2 characters.
        </div>
        </div>
        <div class="form-group">
          <!-- <label for="username">Username</label> -->
          <input type="text" id="userName" name="username" placeholder="Enter your username" formControlName="userName" [(ngModel)]="userName" (input)="checkUsernameUniqueness()" required>
          <div *ngIf="addAgent.get('userName')?.hasError('required') && addAgent.get('userName')?.touched">
            userName is mandatory.
          </div>
          <div *ngIf="addAgent.get('userName')?.hasError('minlength') && addAgent.get('userName')?.touched">
            userName should be at least 2 characters.
          </div>
          <div align="left" *ngIf="isUnique === false">Username is not unique.</div>
          <!-- <div align="left" *ngIf="isUnique === true">Username is unique.</div> -->
        </div>
          <div class="form-group">
              <input type="password" id="password" name="password" placeholder="Enter your password" formControlName="password"   >
              
              <div *ngIf="addAgent.get('password')?.hasError('required') && addAgent.get('password')?.touched">
                Password is mandatory.
            </div>
            <div *ngIf="addAgent.get('password')?.hasError('minlength') && addAgent.get('password')?.touched">
                Password should be at least 6 characters.
            </div>
        </div>
       
          <!-- <div class="form-group">
              <input type="password" id="password" name="password" placeholder="Confirm Password" formControlName="password">
          </div> -->
          <div class="form-group">
            
              <input type="number" id="mobileNumber" name="username" placeholder="Enter your MobileNumber" formControlName="mobileNumber">
              <div *ngIf="addAgent.get('mobileNumber')?.hasError('required') && addAgent.get('mobileNumber')?.touched">
                mobileNumber is mandatory.
            </div>
            <div *ngIf="addAgent.get('mobileNumber')?.hasError('minlength') && addAgent.get('mobileNumber')?.touched">
              mobileNumber should be of 10 characters.
            </div>
            </div>
          
          
          <div class="form-group">
              <input type="email" id="email" name="username" placeholder="Enter your Email" formControlName="email" required>
              <div *ngIf="addAgent.get('email')?.hasError('required') && addAgent.get('email')?.touched">
                Email is mandatory.
            </div>
            
            </div>
          
  
  
        <button type="submit" >Submit</button>
      </form>
    </div>
</body>
</html>
