<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="add-location.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
    <app-admin-navbar></app-admin-navbar>
  <div class="login-container">
    <h1>Add Location</h1>
    <!-- -->
    <form [formGroup]="addLocation" (ngSubmit)="addNewLocation(addLocation.value)"  >
      <!-- <p>Kindly enter the credentials</p> -->
      <!-- <select formControlName="state">
        <option [ngValue]="null" disabled>Choose Insurance Type</option>
        <option>null</option>
        <option *ngFor="let insuranceType of insuranceTypeData" value="{{insuranceType.id}}">{{insuranceType.insuranceTypeName}}
         </option>
      </select> -->
      <div class="form-group">
        <label for="username">State <span>*</span></label>
        <input type="text" id="state" name="state" placeholder="" formControlName="state" required>
        <div *ngIf="addLocation.get('state')?.hasError('required') && addLocation.get('state')?.touched">
          state is mandatory.
      </div>
      </div>
      <div class="form-group">
        <label for="username">City <span>*</span></label>
        <input type="text" id="city" name="city" placeholder="" formControlName="city" required>
        <div *ngIf="addLocation.get('city')?.hasError('required') && addLocation.get('city')?.touched">
          city is mandatory.
      </div>
      </div>
      
      <button type="submit" >Submit</button>
    </form>
  </div>
</body>
</html>
