<!-- <p>add-customer works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="add-customer.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
  <title>Login Page</title>
</head>
<body>
  <div *ngIf="temporaryData.getRole()=='Admin'">
    <app-admin-navbar></app-admin-navbar>
  </div>
  <div *ngIf="temporaryData.getRole()=='Agent'">
    <app-agent-navbar></app-agent-navbar>
  </div>
    <!-- <header>
        <app-admin-navbar></app-admin-navbar>
    </header> -->
    <div class="login-container">
      <h1>Customer Registration</h1>
      <!-- -->
      <form [formGroup]="addCustomer" (ngSubmit)="addNewCustomer(addCustomer.value)"  >
        <!-- <p>Kindly enter the credentials</p> -->
        <div class="form-group">
          <label >Date Of Birth <span>*</span></label>
            <input type="date" id="dateOfBirth" name="dateOfBirth"  formControlName="dateOfBirth" required>
            <div *ngIf="addCustomer.get('dateOfBirth')?.hasError('required') && addCustomer.get('dateOfBirth')?.touched">
              DOB is mandatory.
          </div>
        </div>
        <div class="form-group">
          <label >First Name <span>*</span></label>
          <input type="text" id="firstName" name="username"  formControlName="firstName" required>
          <div *ngIf="addCustomer.get('firstName')?.hasError('required') && addCustomer.get('firstName')?.touched">
            FirstName is mandatory.
        </div>
        <div *ngIf="addCustomer.get('firstName')?.hasError('minlength') && addCustomer.get('firstName')?.touched">
            FirstName should be at least 2 characters.
        </div>
        </div>
        <div class="form-group">
          <label >Last Name <span>*</span></label>
          <input type="text" id="lastName" name="username"  formControlName="lastName" required>
          <div *ngIf="addCustomer.get('lastName')?.hasError('required') && addCustomer.get('lastName')?.touched">
            lastName is mandatory.
        </div>
        <div *ngIf="addCustomer.get('lastName')?.hasError('minlength') && addCustomer.get('lastName')?.touched">
          lastName should be at least 2 characters.
        </div>
        </div>
        <div class="form-group">
          <label >User Name <span>*</span></label>
          <!-- <label for="username">Username</label> -->
          <input type="text" id="userName" name="username"  formControlName="userName" [(ngModel)]="userName" (input)="checkUsernameUniqueness()" required>
          <div *ngIf="addCustomer.get('userName')?.hasError('required') && addCustomer.get('userName')?.touched">
            userName is mandatory.
          </div>
          <div *ngIf="addCustomer.get('userName')?.hasError('minlength') && addCustomer.get('userName')?.touched">
            userName should be at least 2 characters.
          </div>
          <div align="left" *ngIf="isUnique === false">Username is not unique.</div>
          <!-- <div align="left" *ngIf="isUnique === true">Username is unique.</div> -->
        </div>
          <div class="form-group">
            <label>Password <span>*</span></label>
              <input type="password" id="password" name="password"  formControlName="password">
              <div *ngIf="addCustomer.get('password')?.hasError('required') && addCustomer.get('password')?.touched">
                Password is mandatory.
            </div>
            <div *ngIf="addCustomer.get('password')?.hasError('minlength') && addCustomer.get('password')?.touched">
                Password should be at least 6 characters.
            </div>
        </div>
       
          <!-- <div class="form-group">
              <input type="password" id="password" name="password" placeholder="Confirm Password" formControlName="password">
          </div> -->
          <div class="form-group">
            <label >Mobile Number <span>*</span></label>
              <input type="text" id="mobileNumber" name="username"  formControlName="mobileNumber">
              <div *ngIf="addCustomer.get('mobileNumber')?.hasError('required') && addCustomer.get('mobileNumber')?.touched">
                mobileNumber is mandatory.
            </div>
            <div *ngIf="addCustomer.get('mobileNumber')?.hasError('minlength') && addCustomer.get('mobileNumber')?.touched">
              mobileNumber should be of 10 characters.
            </div>
            </div>
          <div class="form-group">
            <label >Email <span>*</span></label>
              <input type="email" id="email" name="username"  formControlName="email" required>
              <div *ngIf="addCustomer.get('email')?.hasError('required') && addCustomer.get('email')?.touched">
                Email is mandatory.
            </div>
          </div>

            <div class="form-group">
              <label >Nominee Name <span>*</span></label>
                <input type="text" id="nomineeName" name="nomineeName"  formControlName="nomineeName" required>
                <div *ngIf="addCustomer.get('nomineeName')?.hasError('required') && addCustomer.get('nomineeName')?.touched">
                  Nominee Name is mandatory.
              </div>
            </div>

              <div class="form-group">
                <label>Nominee Relation <span>*</span></label>
                <input type="text" id="nomineeRelation" name="nomineeRelation"  formControlName="nomineeRelation" required>
                <div *ngIf="addCustomer.get('nomineeRelation')?.hasError('required') && addCustomer.get('nomineeRelation')?.touched">
                  Nominee Relation is mandatory.
              </div>
              </div>

              <div class="form-group">
                <input type="hidden" formControlName="agentId"  value="{{agentId}}">
            </div>
            <label>Location <span>*</span></label>
            <select  id="account-type" name="account-type" aria-placeholder="Insurance Type" formControlName="locationId">
        
              <!-- <option value="" disabled selected>Choose Location </option> -->
              <!-- <option>null</option> -->
              <option *ngFor="let location of locationData" value="{{location.id}}">{{location.city}},{{location.state}}
               </option>
              
            </select><br>
            
          <button type="submit" >Submit</button>
          
        </form>
    </div>
    
</body>
</html>

